[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

.vs/
.idea/
*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
desktop.ini
*.tif
*.tiff
*.exr
Assets/GM_LogCabin/Source/
*.mp4
*.wav
*.unitypackage
